#topBar{
  height: 40px;
}
#topBarContent{
  height: 40px;
}
#topBarRow{
  height: 40px;
}
#btuttons{
  font-size: 11px;
}
#btn1{
  height: 25px;
  width: 85px;
}
#navBar{
  height: 70px;
}
#navBarRow{
height: 70px;
}
