@import "bootstrap-4.3.1-dist/css/bootstrap.min.css";
#topBar{
  height: 40px;
}
#topBarContent{
  height: 40px;
}
#topBarRow{
  height: 40px;
}
#btuttons{
  font-size: 11px;
}
#btn1{
  height: 25px;
  width: 85px;
}
#navBar{
  height: 70px;
}
#navBarRow{
height: 70px;
}
.nav-item:hover .dropdown-menu{
    display : block;
}
#marqueeRow{
  height: 30px;
}
#marqueeCol{
  height: 20px;
  font-size: 12px;
  background-color: #316dc3;
  color: white;
}
#introHeading{
  height: 130px;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  color: #316DC3;
  font-weight: 600;
}
